{% load widget_tweaks %}
<div class="row bg-light">
	<div class="shadow pt-3 col-sm-12 col-md-8 col-lg-6">
		{% comment %}
		TODO: See Feature #303.
		{% endcomment %}
		{% comment %}
		TODO: Figure out a better way to do this.
		{% endcomment %}
		{% if current_language == "en" %}
			<h3 class="border-bottom mb-5">Search our listings</h3>
		{% elif current_language == "de" %}
			<h3 class="border-bottom mb-5">Angebote durchsuchen</h3>
		{% elif current_language == "fr" %}
			<h3 class="border-bottom mb-5">Parcourir les offres</h3>
		{% elif current_language == "es" %}
			<h3 class="border-bottom mb-5">Explorar ofertas</h3>
		{% elif current_language == "it" %}
			<h3 class="border-bottom mb-5">Sfoglia le offerte</h3>
		{% endif %}

		<form action="{% url 'listings:search_results' %}" method="get">
			<div class="form-group form-row">
				{% comment %}
				TODO: Figure out a better way to do this.
				{% endcomment %}
				{% if current_language == "de" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.listing_type.auto_id }}">
						{{ listing_search_form.listing_type.label.de }}
					</label>
				{% elif current_language == "fr" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.listing_type.auto_id }}">
						{{ listing_search_form.listing_type.label.fr }}
					</label>
				{% elif current_language == "es" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.listing_type.auto_id }}">
						{{ listing_search_form.listing_type.label.es }}
					</label>
				{% elif current_language == "it" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.listing_type.auto_id }}">
						{{ listing_search_form.listing_type.label.it }}
					</label>
				{% else %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.listing_type.auto_id }}">
						{{ listing_search_form.listing_type.label.en }}
					</label>
				{% endif %}
				<div class="col-sm-7">
					{% render_field listing_search_form.listing_type class+="form-control" %}
				</div>
			</div>
			<div class="form-group form-row rental-form-fields">
				{% comment %}
				TODO: Figure out a better way to do this.
				{% endcomment %}
				{% if current_language == "de" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_rental_price.auto_id }}">
						{{ listing_search_form.max_rental_price.label.de }}
					</label>
				{% elif current_language == "fr" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_rental_price.auto_id }}">
						{{ listing_search_form.max_rental_price.label.fr }}
					</label>
				{% elif current_language == "es" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_rental_price.auto_id }}">
						{{ listing_search_form.max_rental_price.label.es }}
					</label>
				{% elif current_language == "it" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_rental_price.auto_id }}">
						{{ listing_search_form.max_rental_price.label.it }}
					</label>
				{% else %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_rental_price.auto_id }}">
						{{ listing_search_form.max_rental_price.label.en }}
					</label>
				{% endif %}
				<div class="col-sm-7">
					{% render_field listing_search_form.max_rental_price class+="form-control" %}
				</div>
			</div>
			<div class="form-group form-row hidden-form-fields for-sale-form-fields">
				{% comment %}
				TODO: Figure out a better way to do this.
				{% endcomment %}
				{% if current_language == "de" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_for_sale_price.auto_id }}">
						{{ listing_search_form.max_for_sale_price.label.de }}
					</label>
				{% elif current_language == "fr" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_for_sale_price.auto_id }}">
						{{ listing_search_form.max_for_sale_price.label.fr }}
					</label>
				{% elif current_language == "es" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_for_sale_price.auto_id }}">
						{{ listing_search_form.max_for_sale_price.label.es }}
					</label>
				{% elif current_language == "it" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_for_sale_price.auto_id }}">
						{{ listing_search_form.max_for_sale_price.label.it }}
					</label>
				{% else %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.max_for_sale_price.auto_id }}">
						{{ listing_search_form.max_for_sale_price.label.en }}
					</label>
				{% endif %}
				<div class="col-sm-7">
					{% render_field listing_search_form.max_for_sale_price class+="form-control" %}
				</div>
			</div>
			<div class="form-group form-row">
				{% comment %}
				TODO: Figure out a better way to do this.
				{% endcomment %}
				{% if current_language == "de" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_number_of_rooms.auto_id }}">
						{{ listing_search_form.min_number_of_rooms.label.de }}
					</label>
				{% elif current_language == "fr" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_number_of_rooms.auto_id }}">
						{{ listing_search_form.min_number_of_rooms.label.fr }}
					</label>
				{% elif current_language == "es" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_number_of_rooms.auto_id }}">
						{{ listing_search_form.min_number_of_rooms.label.es }}
					</label>
				{% elif current_language == "it" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_number_of_rooms.auto_id }}">
						{{ listing_search_form.min_number_of_rooms.label.it }}
					</label>
				{% else %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_number_of_rooms.auto_id }}">
						{{ listing_search_form.min_number_of_rooms.label.en }}
					</label>
				{% endif %}
				<div class="col-sm-7">
					{% render_field listing_search_form.min_number_of_rooms class+="form-control" %}
				</div>
			</div>
			<div class="form-group form-row">
				{% comment %}
				TODO: Figure out a better way to do this.
				{% endcomment %}
				{% if current_language == "de" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_size_sq_m.auto_id }}">
						{{ listing_search_form.min_size_sq_m.label.de }}
					</label>
				{% elif current_language == "fr" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_size_sq_m.auto_id }}">
						{{ listing_search_form.min_size_sq_m.label.fr }}
					</label>
				{% elif current_language == "es" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_size_sq_m.auto_id }}">
						{{ listing_search_form.min_size_sq_m.label.es }}
					</label>
				{% elif current_language == "it" %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_size_sq_m.auto_id }}">
						{{ listing_search_form.min_size_sq_m.label.it }}
					</label>
				{% else %}
					<label class="col-sm-2 col-form-label" for="{{ listing_search_form.min_size_sq_m.auto_id }}">
						{{ listing_search_form.min_size_sq_m.label.en }}
					</label>
				{% endif %}
				<div class="col-sm-7">
					{% render_field listing_search_form.min_size_sq_m class+="form-control" %}
				</div>
			</div>
			<div class="form-group form-row">
				<label class="col-sm-2 col-form-label" for="submit-filter-search">
				</label>
				<div class="col-sm-7">
					<input type="submit" value="Search" id="submit-filter-search" class="form-control">
				</div>
			</div>
		</form>
	</div>
	<div class="col">
	</div>
</div>
