{% extends "smartestate/base.html" %}

{% block title %}
{{ site_title }} - Listings
{% endblock %}

{% block content %}
{% if rental_listings %}
	<h3>Rental Listings</h3>
	<table class="listings_table">
	{% for listing in rental_listings %}
	<tr class="listing_entry">
		<td><a href="/listings/{{ listing.id }}">{{ listing }}</a></td>
		<td>{{ listing.rental_price }}</td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
{% if for_sale_listings %}
	<h3>For Sale Listings</h3>
	<table class="listings_table">
	{% for listing in for_sale_listings %}
	<tr class="listing_entry">
		<td><a href="/listings/{{ listing.id }}">{{ listing }}</a></td>
		<td>{{ listing.for_sale_price }}</td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
{% if not rental_listings and not for_sale_listings %}
	<p>We currently have no listings available.</p>
{% endif %}
{% endblock %}
