{% extends "listings/list.html" %}
{% load humanize %}

{% block filter_search_form %}
{% if show_filter_search_in_listview %}
	<div class="container detail-text">
		<br><br>
		{% include "listings/filter-search-rental.html" %}
	</div>
{% endif %}
{% endblock %}

{% block content %}
{% if rental_listings %}
	<br>
	{% for listing in rental_listings %}
	<a href="{% url 'listings:detail' listing.id %}">
	<div class="row shadow p-3 mb-5 bg-light rounded listing-entry">
		{% comment %}
	  		Change the widths of these columns?
			There is a actually a lot you can do,
			see https://getbootstrap.com/docs/4.4/layout/grid/
		{% endcomment %}
		<div class="col media">
		<img src="{{ listing.image_set.all.0.image.url }}" width=400 height=300>
		</div>

		<div class="col">
		<p class="color-elem-2">{{ listing.apartment.house.real_estate.address.city }}</p>
		<h3 class="color-elem-1">{{ listing }}</h3>
		<p>Starting {{ listing.date_available }} for {{ listing.minimum_months }}-{{ listing.maximum_months}} months</p>
		<h3 class="color-elem-1">{{ listing.currency }}{{ listing.rental_price|intcomma }}</h3>
		<p>{{ listing.apartment.number_of_rooms }} rooms | ca. {{ listing.apartment.size_sq_m }} m<sup>2</sup> | for {{ listing.number_of_people }} people</p>
		</div>

	</div>
	</a>
	{% endfor %}
{% else %}
	<br>
	<br>
	<p>We currently have no rental listings available.</p>
{% endif %}
{% endblock %}
