{% extends "broker/list.html" %}

{% block model_list %}
	{% if listings %}
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Type</th>
				<th scope="col">Available On</th>
				<th scope="col">Price</th>
				<th scope="col">Description</th>
				<th scope="col">Address</th>
				<th scope="col">Size</th>
				<th scope="col">Rooms</th>
			</tr>
		</thead>
		<tbody id="listings-table-body">
		{% for listing in listings %}
			<tr onclick="toggleSuggestions('listing', {{ listing.id }});" class="broker-row">
				<td>{{ listing.id }}</td>
				<td>{{ listing.listing_type }}</td>
				<td>{{ listing.date_available }}</td>
				{% if listing.listing_type == 'rental' %}
					<td>{{ listing.rental_price }}</td>
				{% elif listing.listing_type == 'for_sale' %}
					<td>{{ listing.for_sale_price }}</td>
				{% endif %}
				<td>{{ listing }}</td>
				<td>{{ listing.apartment.house.real_estate.address }}</td>
				<td>{{ listing.apartment.size_sq_m }}m<sup>2</sup></td>
				<td>{{ listing.apartment.number_of_rooms }}</td>
			</tr>
			<tr id="suggestions-row-listing{{ listing.id }}" class="suggestions-row">
				<td>
				<table>
					<tr>
						<td>Some Seeking</td>
					</tr>
					<tr>
						<td>Another Seeking</td>
					</tr>
					<tr>
						<td>And another Seeking</td>
					</tr>
				</table>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	{% else %}
		No listings found!
	{% endif %}
{% endblock %}
