{% extends "broker/list.html" %}

{% block model_list %}
	{% if seekings %}
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Type</th>
				<th scope="col">Start Date</th>
				<th scope="col">Max Price</th>
				<th scope="col">Min Rooms</th>
				<th scope="col">Tenant/Buyer Name</th>
				<th scope="col">Tenant/Buyer Age</th>
				<th scope="col">Number of Persons</th>
				<th scope="col">Occupation</th>
			</tr>
		</thead>
		<tbody id="seekings-table-body">
		{% for seeking in seekings %}
			<tr onclick="toggleSuggestions(
				{% comment %}
				This function will trigger an Ajax call, which sends a request to the Rest API.
				Here we build the JS-Object that the client will send to the Rest Server at /rest/listings/.
				The endpoint there will call broker.utils.filter_search_listing, which supports these fields:
					- listing_type
					- max_rental_price
					- min_rental_price
					- max_security_deposit
					- min_security_deposit
					- max_for_sale_price
					- min_for_sale_price
					- min_minimum_down_payment
					- max_minimum_down_payment
					- earliest_date_available
					- latest_date_available
					- minimum_months
					- maximum_months
					- max_number_of_people
					- min_number_of_people
					- pets_ok
					- is_primary
					- max_number_of_rooms
					- min_number_of_rooms
					- max_size_sq_m
					- min_size_sq_m
					- has_internet
					- is_furnished
					- max_date_of_construction
					- min_date_of_construction
				{% endcomment %}
				'seeking',
				{{ seeking.id }},
				{
			    		'listing_type': '{{ seeking.seeking_type }}',

			    		{% if seeking.seeking_type == 'rental' %}
			    			'max_rental_price': '{{ seeking.max_rent }}',
			    		{% elif seeking.seeking_type == 'for_sale' %}
			    			'max_for_sale_price': '{{ seeking.max_purchase_price }}',
			    		{% endif %}

			    		{% comment %}
			    		// Not going to do security deposit for now.
					// max_security_deposit
			    		{% endcomment %}

			    		{% comment %}
			    		// Not going to do minimum down payment for now.
					// max_minimum_down_payment
			    		{% endcomment %}

			    		{% comment %}
			    		TODO: Figure out the business logic around starting and ending dates later.
					earliest_date_available
					latest_date_available
					minimum_months
					maximum_months
			    		{% endcomment %}


			    		{% comment %}
					TODO: See Feature #383
			    		{% endcomment %}
			    		'min_number_of_people': '{{ seeking.number_of_persons }}',

			    		'min_number_of_rooms': '{{ seeking.min_number_of_rooms }}',
					'min_size_sq_m': '{{ seeking.min_size_sq_m }}',
			    		{% if seeking.has_pets %}
						'pets_ok': 'True',
			    		{% endif %}
			    		{% if seeking.must_have_internet %}
						'has_internet': 'True',
			    		{% endif %}
			    		{% if seeking.must_be_furnished %}
						'is_furnished': 'True',
			    		{% endif %}
				}
				);" class="broker-row"
			>
				<td>{{ seeking.id }}</td>
				<td>{{ seeking.seeking_type }}</td>
				<td>{{ seeking.starting_date }}</td>

				{% if seeking.seeking_type == 'rental' %}
					<td>{{ seeking.max_rent }}</td>
				{% elif seeking.seeking_type == 'for_sale' %}
					<td>{{ seeking.max_purchase_price }}</td>
				{% endif %}
				<td>{{ seeking.min_number_of_rooms }}</td>
				<td>{{ seeking.contact.first_name }} {{ seeking.contact.last_name }}</td>
				<td>{{ seeking.contact.get_age }}</td>
				<td>{{ seeking.number_of_persons }}</td>
				<td>{{ seeking.occupation }}</td>
			</tr>
			<tr id="suggestions-row-seeking{{ seeking.id }}" class="suggestions-row">
			</tr>
		{% endfor %}
		</tbody>
	{% else %}
		No seekings found!
	{% endif %}
{% endblock %}
