body {
	margin: 40px auto;
	max-width: 80%;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1,h2,h3 {
	line-height: 1.2;
}

.menu li {
	display: inline;
	margin: 10%;
	padding: 0.5%;
}
.menu li:hover {
	display: inline;
	margin: 10%;
	background-color: #cdcdcd;
}
a {
	text-decoration: none;
	color: #444;
}

.menu {
	list-style-type: none;
	border-bottom: 1px solid black;
}


.listing_entry {
	border-bottom: 0.5px solid grey;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.listing_entry:hover {
	background-color: #cdcdcd;
}

.detail_table tr td {
	border-bottom: 0.5px solid grey;
	padding: 2%;
}

