body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1,h2,h3 {
	line-height: 1.2;
}

.menu li {
	display: inline;
	background-color: #aea;
}

.menu {
	background-color: #222;
	list-style-type: none;
}
